/* estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* header */

header{
    background-color: #000103;
    border: 1px solid #515052;
    margin: 5px; 
}

header nav ul{
    
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px;
    align-items: center;
    margin-bottom: 0px;
}

header nav ul li a img{
    width: 100px;
}

header nav ul li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    }

header nav ul li a{
    text-decoration: none ;
    color: #FFFFFA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

}

header #btnMenu, header label{
    display: none;
}

main{
    background-color: #000103;
}

.logoMenu{
    display: none;
}


/* main index */
.main{
    background-color: #000103;
    border: 1px #515052;
    margin: 5px; 
}

.positionRelative{
    height: 600px;
    position: relative;
    background-color: #000103;
    border: #FFFFFA;
}
.positionRelative img {
    display: block;
    height: 600px;
    width: 100%;
    object-fit: cover;
    margin: auto;
    top: 100px;
}




.positionAbsolute{
    position: absolute;
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #FFFFFA;
    text-decoration: none;
    height: 50px;
    width: 20vw;
    background-color: #000103;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.positionAbsolute a{
    text-decoration: none ;
    color: #FFFFFA;
}

.card{
    width: 300px;
    height: 380px;
    display: inline-block;
    border-radius: 0 0 20 20;
    -webkit-box-shadow: 10px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 5px 0px rgba(0,0,0,0.75);
}

.card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card div{
    height: 100%;
    text-align: center;

}

.carouselExampleCaptions{
    height: 400px;
}

#carouselExampleCaptions {
    background: #000103;
    margin: 5px #FFFFFA;
    max-width: 600px; /* Ajusta el tamaño máximo del carrusel */
    margin: auto; /* Centra el carrusel horizontalmente */
}

/* Estilos para hacer que las imágenes del carrusel sean responsivas */
.carousel-item img {
    max-width: 100%; /* Hace que las imágenes se adapten al ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto de las imágenes */
}

/* main faq */
.faqStyle{
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    color: #FFFFFA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: #000103;
    height: 100%;
    width: 100%;
}
.block{
    display: block;
    margin: 10px; 
}

.style{
    text-decoration: underline;
}

/* main carrito */
.contenedorCarrito{
    background-color: #FFFFFA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

.contenedorCompras{
    background-color: #515052;
    width: 80vw;
    justify-content: center;
    padding: 30px;
    border:5px solid #000103
}

.contenedorCarrito h1,h2,h3{
    color: #FFFFFA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.botonCompras{
    display: inline-flex;
    color: #FFFFFA;
    text-decoration: none;
    height: 50px;
    width: 30vw;
    background-color: #000103;
    border-radius:20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: .8rem;
    border:2px #FFFFFA;
    align-items: center;
    justify-content: center;


}



/* main shop */
.contenedorShop{

    display: grid;
    background-color: #FFFFFA;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.grilla{
    background-color: #FFFFFA;
    width: 100%;
    height: 100%;
    display: grid;
    border: 3px solid #000103;
    
}

.producto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    justify-content: center;
    align-items: center;

}


.grilla{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    justify-content: center;
    align-items: center;
}

.precios{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-family: 10vw;
}
/* main usuario */
.usuarioStyle{
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    color: #FFFFFA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: #000103;
    height: 100%;
    width: 100%;

}

.olvidarContraseña{
    height: 15px;
    width: 181px;
    font-size: 10px;
    text-align: right;
}

.inicioSesion{
    height: 30px;
    width: 181px;
}

.crearCuenta{
    width: 181px;
    font-size: 10px;
    text-align: center;
}


/* footer */
footer{
    background-color: #000103;
    border: 1px #515052;
    margin: 5px; 
}

footer div{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: #FFFFFA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: #515052;
    height: 200px;
    width: 100%;
    text-align: center;
    
}

footer div a{
    text-decoration: none ;
    color: #FFFFFA;
    background-color: #000103;
    
}


@media (max-width:1024px){

    .contenedorShop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 50px;
    }
}

.botonCompras{
    height: 70px;
    width: 40vw;
}


@media (max-width: 768px){
    .faqStyle{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .faqStyle .style{
        width: 100%;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    
    header .logoMenu {
        display: block;
        width: 100px;
        margin-left: 25px;
    }

    header .logoMenu img{
        display: block;
        width: 100px;
    }
    
    header label{
        display: block;
        position: relative;
        right: 25px;

    }
    header label img{
        width: 50px;
    }
    .menu{
        position: absolute;
        top: 102px;
        background-color: #000103;
        width: 100%;
        visibility: hidden;
        transition: visibility 1s, opacity 1s ease;
        opacity: 0;
        border: 1px #515052;
        margin: 5px
    }

    #btnMenu:checked ~ .menu{
        visibility: visible;
        opacity: 1;
        z-index: 999;

    }
    .positionRelative{
        z-index: 1;
    }

    .menu ul{
        flex-direction: column;
    }
    .logoUl{
        display: none;

    }
    .contenedorShop{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contenedorCompras, .contenedorAyuda {
        width: 80%;}

    .botonCompras{
        height: 80px;
        width: 70vw;
}
    .contenedorAyuda{
        width: 60vw;
    }

    .positionAbsolute{
        width: 80vw;

    }
}